{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link type="text/css" href="{% static 'forum/css/styles.css' %}" rel="stylesheet" />
		<meta charset=utf-8">
	</head>
	<body>
		<div id="page-wraper">
		<header>
			{% block main-menu %}
				<nav class="nav-main">
					<a href="{% url 'main' %}">Forum</a>
					{% for m in menu %}
					<a href="{% url m.url_name %}">{{m.title}}</a>
					{% endfor %}
				</nav>
			{% endblock main-menu %}
		</header>
		<div class="flex-container">
		<!--content block -->
		<section class="content">
			{% block content %}
			{% endblock content %}
			{% if page_obj.has_other_pages %}
			<nav class="centered">
				{% if page_obj.has_previous %}
					<a class="nav-item" href="?page={{ page_obj.previous_page_number }}">&lt</a>
				{% endif %}
				{% for p in paginator.page_range %}
					{% if page_obj.number == p %}
						<p class="nav-item selected">{{ p }}</p>
					{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
						<a class="nav-item" href="?page={{ p }}">{{ p }}</a>
					{% endif %}
				{% endfor %}
				{% if page_obj.has_next %}
					<a class="nav-item" href="?page={{ page_obj.next_page_number }}">&gt</a>
				{% endif %}
			</nav>
			{% endif %}
		</section>
		<!-- end of content block-->
		<!-- right sidebar -->
		<aside id="right-sidebar">
			{% if theme_selected == 0 %}
			<p>Все темы</p>
			{% else %}
			<p><a href="{% url 'main' %}">Все темы</a></p>
			{% endif %}
			<ul>
				{% for theme in themes %}
					{% if theme.pk == theme_selected %}
						<li>{{theme.name}}</li>
					{% else %}
						<li><a href="{{ theme.get_absolute_url }}">{{theme.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</aside>

		<!-- end of right sidebar -->
		</div>
		<footer>
			<div>
				<small>&copy; leinadalien company</small>
			</div>
		</footer>

		</div>
	<!-- Конец footer'а и страницы -->
	</body>
</html>