{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link type="text/css" href="{% static 'forum/css/styles.css' %}" rel="stylesheet" />
		<meta charset=utf-8">
	</head>
	<body>
		<header>
			{% block main-menu %}
				<nav>
					<a href="{% url 'main' %}">Forum</a>
					{% for m in menu %}
					<a href="{% url m.url_name %}">{{m.title}}</a>
					{% endfor %}
				</nav>
			{% endblock main-menu %}
		</header>
		<!--content block -->
		<section class="content">
			{% block content %}
			{% endblock content %}
		</section>
		<!-- end of content block-->
		<!-- right sidebar -->
		<aside>
			{% if theme_selected == 0 %}
			<p>Все темы</p>
			{% else %}
			<p><a href="{% url 'main' %}">Все темы</a></p>
			{% endif %}
			<ul>
				{% for theme in themes %}
					{% if theme.pk == theme_selected %}
						<li>{{theme.name}}</li>
					{% else %}
						<li><a href="{{ theme.get_absolute_url }}">{{theme.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</aside>
		<!-- end of right sidebar -->

		<footer>
			<div>
				<small>&copy; leinadalien company</small>
			</div>
		</footer>
	<!-- Конец footer'а и страницы -->
	</body>
</html>